{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <form class="needs-validation" method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="mb-3">
                <legend class="border-bottom mb-4">Passwort zurücksetzen</legend>
                <div class="mb-2">
                    {{ form.password.label(class="form-control-label") }}
                    <div class="input-group">
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid", id="reset_password") }}
                        <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('reset_password', this)">
                            <i class="bi bi-eye"></i>
                        </button>
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg", id="reset_password") }}
                        <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('reset_password', this)">
                            <i class="bi bi-eye"></i>
                        </button>
                    {% endif %}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form.password2.label(class="form-control-label") }}
                    <div class="input-group">
                    {% if form.password2.errors %}
                        {{ form.password2(class="form-control form-control-lg is-invalid", id="reset_password2") }}
                        <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('reset_password2', this)">
                            <i class="bi bi-eye"></i>
                        </button>
                        <div class="invalid-feedback">
                            {% for error in form.password2.errors %}
                                <span>Das Passwort stimmt nicht &uuml;berein.</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password2(class="form-control form-control-lg", id="reset_password2") }}
                        <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('reset_password2', this)">
                            <i class="bi bi-eye"></i>
                        </button>
                    {% endif %}
                    </div>
                </div>
            </fieldset>
            <div class="mb-3">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
