{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <div class="d-flex">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
            <div class="flex-grow-1">
                <h2 class="account-heading">{{ user.username }}</h2>
                    {% if user.about_me %}<hr><p>{{ user.about_me }}</p><hr>{% endif %}
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('auth.edit_profile') }}">Profil bearbeiten</a></p>
                {% elif not current_user.is_following(user) %} 
                <p><a href="{{ url_for('main.follow', username=user.username) }}">Follow</a></p>
                {% else %}
                <p><a href="{{ url_for('main.unfollow', username=user.username) }}">Unfollow</a></p>
                {% endif %}
                {% if user != current_user %}
                <p>
                    <a href="{{ url_for('main.send_message', recipient=user.username) }}">{{ ('Private Nachricht senden') }}</a>
               </p>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
