{% set exercises = workout.exercises.all() %} {% for exercise in exercises %}
<div class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p><strong>Exercise {{ exercise.exercise_order }}: {{ exercise.exercise_definition.title }}</strong></p>
        {% set sets = exercise.sets.all() %} 
        {% for s in sets %}
          <p>Set: {{ s.set_order }}</p>
          <p>Progression: {{ s.progression }}</p>
          {% if exercise.exercise_definition.counting_type == 'duration' %}
          <p>Dauer: {{ s.duration_formatted }}</p>
          {% else %}
          <p>Reps: {{ s.reps }}</p>
          {% endif %}
          <hr style="border: 5px solid #007bff; border-radius: 5px;" />
        {% endfor %}
        <hr>
      </div>
    </div>
  </div>
</div>
{% endfor %}
