{% extends "base.html" %}
{% block content %}
    <div class="content">
        <div class="jumbotron">
            <h1>Willkommen!</h1>
            <br>
            <p>Das ist eine App um Calisthenics Workouts zu tracken.</p>
            <p>Ich bin Calisthenics Enthusiast aber auch Hobby-Entwickler. Gut möglich, dass ab und zu etwas nicht funktioniert und &ouml;fters anders aussieht.</p>
            <p>Du musst dich registrieren, um den Tracker zu verwenden:</p>
            <p><a href="{{ url_for('auth.register') }}">Registrieren</a></p>
            <hr>
            <h4>Features:</h4>
            <li>&Uuml;bungen erstellen</li>
            <li>Workouts mit mehreren &Uuml;bungen und Sets erstellen</li>
            <li>Workouts von anderen Athleten entdecken</li>
            <li>Andere Athleten folgen</li>
            <li>Private Nachrichten an andere Athleten senden</li>
        </div>
    </div>
{% endblock %}